################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToyRobotSimulator/obj
/ToyRobotSimulator.Tests/bin/Debug/netcoreapp2.0
/ToyRobotSimulator.Tests/obj
/ToyRobotSimulator/bin/Debug/netcoreapp2.0
